In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("autos.csv", encoding = "latin")
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
dateCrawled            371528 non-null object
name                   371528 non-null object
seller                 371528 non-null object
offerType              371528 non-null object
price                  371528 non-null int64
abtest                 371528 non-null object
vehicleType            333659 non-null object
yearOfRegistration     371528 non-null int64
gearbox                351319 non-null object
powerPS                371528 non-null int64
model                  351044 non-null object
kilometer              371528 non-null int64
monthOfRegistration    371528 non-null int64
fuelType               338142 non-null object
brand                  371528 non-null object
notRepairedDamage      299468 non-null object
dateCreated            371528 non-null object
nrOfPictures           371528 non-null int64
postalCode             371528 non-null int64
lastSeen               371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [4]:
df.describe(include="all")

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
count,371528,371528,371528,371528,3.715280e+05,371528,333659,371528.000000,351319,371528.000000,351044,371528.000000,371528.000000,338142,371528,299468,371528,371528.0,371528.00000,371528
unique,280500,233531,2,2,NaN,2,8,NaN,2,NaN,251,NaN,NaN,7,40,2,114,NaN,NaN,182806
top,2016-03-24 14:49:47,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-06 13:45:54
freq,7,657,371525,371516,NaN,192585,95894,NaN,274214,NaN,30070,NaN,NaN,223857,79640,263182,14450,NaN,NaN,17
mean,NaN,NaN,NaN,NaN,1.729514e+04,NaN,NaN,2004.577997,NaN,115.549477,NaN,125618.688228,5.734445,NaN,NaN,NaN,NaN,0.0,50820.66764,NaN
std,NaN,NaN,NaN,NaN,3.587954e+06,NaN,NaN,92.866598,NaN,192.139578,NaN,40112.337051,3.712412,NaN,NaN,NaN,NaN,0.0,25799.08247,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.00000,NaN
25%,NaN,NaN,NaN,NaN,1.150000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30459.00000,NaN
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49610.00000,NaN
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71546.00000,NaN
max,NaN,NaN,NaN,NaN,2.147484e+09,NaN,NaN,9999.000000,NaN,20000.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.00000,NaN

In [36]:
df.drop(['dateCrawled', 'nrOfPictures', 'lastSeen'], axis=1, inplace=True)

In [5]:
df['seller'].unique()

array(['privat', 'gewerblich'], dtype=object)

In [6]:
def convertseller(x):
    return ['private' if i=='privat' else 'commercial' for i in x]

df = df.assign(seller=convertseller(df['seller']))
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,private,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,private,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",private,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,private,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [7]:
df['offerType'].unique()

array(['Angebot', 'Gesuch'], dtype=object)

In [8]:
df.iloc[df[df['offerType']!='Angebot'].index, 3] = 'looking for'
df.iloc[df[df['offerType']=='Angebot'].index, 3] = 'for sale'
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,private,for sale,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,private,for sale,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",private,for sale,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,private,for sale,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,for sale,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [9]:
df['abtest'].unique()

array(['test', 'control'], dtype=object)

In [10]:
df['vehicleType'].unique()

array([nan, 'coupe', 'suv', 'kleinwagen', 'limousine', 'cabrio', 'bus',
       'kombi', 'andere'], dtype=object)

In [11]:
def convertvehicletype(x):
    translate = dict(kleinwagen='compact sedan', cabrio='convertible', kombi='full-size sedan', andere='others')
    return translate[x] if x in translate.keys() else x

df['vehicleType'] = df['vehicleType'].apply(convertvehicletype)
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,private,for sale,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,private,for sale,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",private,for sale,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,private,for sale,1500,test,compact sedan,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,for sale,3600,test,compact sedan,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [12]:
for i in ['gearbox','fuelType','notRepairedDamage']:
    print(df[i].unique())

['manuell' 'automatik' nan]
['benzin' 'diesel' nan 'lpg' 'andere' 'hybrid' 'cng' 'elektro']
[nan 'ja' 'nein']

In [15]:
df['gearbox'] = np.where(df['gearbox']=='manuell', 'manual', np.where(df['gearbox']=='automatik', 'automatic', df['gearbox']))
conditions = [df['fuelType']=='benzin', df['fuelType']=='lpg', df['fuelType']=='andere', df['fuelType']=='cng', df['fuelType']=='elektro']
translate = ['gasoline', 'liquidfied gas', ' others', 'natural gas', 'electric']
df['fuelType'] = np.select(conditions, translate, df['fuelType'])
mapping = {'ja':'yes', 'nein':'no'}
df['notRepairedDamage'] = df['notRepairedDamage'].map(lambda x: mapping[x] if not pd.isna(x) else x)
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,private,for sale,480,test,NaN,1993,manual,0,golf,150000,0,gasoline,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,private,for sale,18300,test,coupe,2011,manual,190,NaN,125000,5,diesel,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",private,for sale,9800,test,suv,2004,automatic,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,private,for sale,1500,test,compact sedan,2001,manual,75,golf,150000,6,gasoline,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,for sale,3600,test,compact sedan,2008,manual,69,fabia,90000,7,diesel,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [31]:
df['price'] = (df['price']*1.12).astype('int64')
df['mileage'] = (df['kilometer']*0.62137).astype('int64')
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,...,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen,mileage
0,2016-03-24 11:52:17,Golf_3_1.6,private,for sale,537,test,NaN,1993,manual,0,...,150000,0,gasoline,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57,93205
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,private,for sale,20496,test,coupe,2011,manual,190,...,125000,5,diesel,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50,77671
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",private,for sale,10976,test,suv,2004,automatic,163,...,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46,77671
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,private,for sale,1680,test,compact sedan,2001,manual,75,...,150000,6,gasoline,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17,93205
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,private,for sale,4032,test,compact sedan,2008,manual,69,...,90000,7,diesel,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21,55923

In [41]:
df['name'][:60]

0                                            Golf_3_1.6
1                                  A5_Sportback_2.7_Tdi
2                        Jeep_Grand_Cherokee_"Overland"
3                                    GOLF_4_1_4__3TÜRER
4                        Skoda_Fabia_1.4_TDI_PD_Classic
5     BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...
6                           Peugeot_206_CC_110_Platinum
7                          VW_Derby_Bj_80__Scheunenfund
8                  Ford_C___Max_Titanium_1_0_L_EcoBoost
9     VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...
10                                    Mazda_3_1.6_Sport
11        Volkswagen_Passat_Variant_2.0_TDI_Comfortline
12                    VW_Passat_Facelift_35i__"7Sitzer"
13                       VW_PASSAT_1.9_TDI_131_PS_LEDER
14    Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...
15                         KA_Lufthansa_Edition_450_VB
16                                          Polo_6n_1_4
17                          Renault_Twingo_1.2_16V_Aut.
18                     Ford_C_MAX_2.0_TDCi_DPF_Titanium
19                    Mercedes_Benz_A_160_Classic_Klima
20                    Volkswagen_Scirocco_1.4_TSI_Sport
21    BMW_530i_TÜV_7/17_Scheckheftgepflegt_sehr_gute...
22                        Opel_Meriva_1.Hand_TÜV_3.2018
23                                         Stadtflitzer
24                           MERCEDES_200E__TÜV_04/2016
25                BMW_530d_touring_Vollausstattung_NAVI
26                            Citroen_C4_Grand_Picasso.
27                       Honda_Civic_1.4_i_VTEC_Comfort
28                                 Volkswagen_T3_andere
29                                       Fiat_Punto_1.2
30            Mercedes_Benz_E_250_D_Original_Zustand_!!
31                         Renault_clio_1.2_TÜV_07/2016
32                                     Golf_3_....._1.4
33                                        BMW_325i_Aut.
34            Mercedes_Benz_E_200_CDI_Automatik_Classic
35                                            VW_Golf_3
36                                     Opel_Kadett_E_CC
37                            Renault_Kangoo_1.9_Diesel
38    Abschleppwagen_Vw_LT_195.000_gruene_Plakette_T...
39                                 Mercedes_Camper_D407
40                    Suche_Opel_corsa_a_zu_verschenken
41                     E_500_Avantgarde_AMG_Ausstattung
42                                        BMW_E60_530XD
43                   Mini_One_Pepper_Scheckheftgepflegt
44                  Smart_For_two_Klima_regensensor_uSw
45                                     Renault_Clio_1.4
46                                         BMW_120d_DPF
47                                     BMW_528i_touring
48             VW_Golf_6___Klima___Alu___Scheckheft_!!!
49                         Mercedes_Benz_B180_Automatik
50                          BMW_120i_Cabrio_mit_M_Paket
51                          Fiat_punto_5_tuerer__6_gang
52        Verkaufe_meinen_kleinen_wegen_neu_Anschaffung
53                     Bmw_318_d_Sport_Edition_Facelift
54                                 Opel_signum_1.9_cdti
55                                      auto_opel_astra
56                                 BMW_435i_Sport_coupe
57                           Smart_Cabrio_TÜV_bis_07/17
58           Seat_inca_1.9SDI___LKW_Zulassung___TÜV_NEU
59                      Volkswagen_Golf_1.6_Comfortline
Name: name, dtype: object

In [59]:
df['name'].nunique()

233531

In [57]:
(df['name'].str.lower().str.split('_', 3).str.join(' ').str.rpartition(' ')[0]).nunique()

64410